h2 {
  color: rgb(77, 77, 80);
}

body {
  background-color: rgb(245, 241, 241);
}

.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.center {
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 5px 5px 30px #ababab,
    -5px -5px 30px #ffffff;
  height: 25rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 100px; */
}

button {
  font-size: 20px;
  font-weight: 600 !important;
  height: 4rem;
  width: 8rem;
  outline: none;
  text-decoration: none;
  border: none;
  border-radius: 0px;
background: linear-gradient(145deg, #eaeaea, #c5c5c5);
box-shadow:  5px 5px 7px #bfbfbf,
             -5px -5px 7px #f7f7f7;}